[submodule "libdbpp/unittests/libdbpp-postgresql"]
	path = libdbpp/unittests/libdbpp-postgresql
	url = ssh://git.randomdan.homeip.net/var/git/libdbpp-postgresql
[submodule "libdbpp/unittests/libdbpp-mysql"]
	path = libdbpp/unittests/libdbpp-mysql
	url = ssh://git.randomdan.homeip.net/var/git/libdbpp-mysql
[submodule "libdbpp/unittests/libdbpp-sqlite"]
	path = libdbpp/unittests/libdbpp-sqlite
	url = ssh://git.randomdan.homeip.net/var/git/libdbpp-sqlite
[submodule "libdbpp/unittests/libdbpp-odbc"]
	path = libdbpp/unittests/libdbpp-odbc
	url = ssh://git.randomdan.homeip.net/var/git/libdbpp-odbc
